/*

	Main

	*/

@import 'font';
@import 'table';
@import 'form';
@import 'remove';

// Mixins
.shadow {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),
						0 1px 2px 0 rgba(0,0,0,.24);
	-moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,.12),
						0 1px 2px 0 rgba(0,0,0,.24);
	box-shadow:         0 1px 3px 0 rgba(0,0,0,.12),
						0 1px 2px 0 rgba(0,0,0,.24);
}

.transition(@transition) {
	-webkit-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

@heading-font-color:  #4A4A4A;


.device-list-container {
	background-color: #f5f5f5;
	color: #212121;
	font-size: 14px;
	letter-spacing: 0.1px;
	list-style: 20px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	padding-bottom: 36px;
	position: relative;
	h1 {
		color: @heading-font-color;
		font-size: 24px;
		font-weight: normal;
		line-height: 42px;
		padding-top: 16px;
		text-align: center;
	}
}


    
    /* above this is decorative, not part of the test */
    
    .fixed-table-container {
      max-width: 85%;
      height: 300px;
      // border: 1px solid black;
      margin: 0px auto;
      background-color: @table-bg;
      /* above is decorative or flexible */
      position: relative; /* could be absolute or relative */
      padding-top: 47px; /* height of header */
    }

    .fixed-table-container-inner {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
    }
     
    .header-background {
      background-color: #D5ECFF;
      height: 47px; /* height of header */
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
    
    // table {
    //   background-color: white;
    //   width: 100%;
    //   overflow-x: hidden;
    //   overflow-y: auto;
    // }


table {
	width: 100%;
	margin: 0 auto;
	// border-collapse: collapse;
	background-color: @table-bg;
	color: #4A4A4A;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14px;
	> thead,
	> tbody,
	> tfoot {
		> tr {
			.transition(all .3s ease);
			// > th,
			> td {
				text-align: left;
				padding: @table-cell-padding;
				vertical-align: top;
				border-top: 0;
				.transition(all .3s ease);
			}
		}
	}
	> thead > tr > th {
		font-weight: @table-header-font-weight;
		color: @table-header-font-color;
		// vertical-align: bottom;
		// border-bottom: 1px solid rgba(0,0,0,.12);
	}
	// > caption + thead,
	// > colgroup + thead,
	// > thead:first-child {
	// 	> tr:first-child {
	// 		> th,
	// 		> td {
	// 			border-top: 0;
	// 		}
	// 	}
	// }
	> tbody + tbody {
		border-top: 1px solid rgba(0,0,0,.12);
	}
}
    .th-inner {
      position: absolute;
      top: 0;
      line-height: 47px; /* height of header */
      text-align: left;
      border-left: @table-border-color;
      // padding-left: 5px;
      // margin-left: -5px;
    }

    
    /* extra-wrap */
    
    // .extrawrap th {
    //   text-align: center;
    // }
    
    // .extra-wrap {
    //   width: 100%;
    // }
    
    /* Zupa styles for centered headers */
    
    // .zupa div.zupa1 {
    //   margin: 0 auto !important;
    //   width: 0 !important;
    // }
    
    // .zupa div.th-inner {
    //   width: 100%;
    //   margin-left: -50%;
    //   text-align: center;
    //   border: none;
    // }

    /* for hidden header hack to calculate widths of dynamic content */
    /* enough width to show all header text, or bad things happen */
    // .hidden-head {
    //   min-width: 530px; 
    // }
    
    // .hidden-header .th-inner {
    //   position: static;
    //   overflow-y: hidden;
    //   height: 0;
    //   white-space: nowrap;
    //   padding-right: 5px;
    // }
    
    /* for complex headers */
    

    
    /* for tableSorter headers */

    .fixed-table-container.sort-decoration { 
      overflow-x: hidden;
      min-width: 530px; /* enough width to show arrows */
    }
    .sort-decoration .th-inner {
      width: 100%;
    }
    .header .th-inner {
      background-color: #D5ECFF;
    }
    .headerSortUp .th-inner, .headerSortDown .th-inner {
      background-color: #5DDFFD;
    }
    span.sortArrow {
      background: url("icons/bg.gif") 0 4px no-repeat transparent;
      padding: 1px 10px;
      line-height: 30px;
    }
    .headerSortUp span.sortArrow {
      background: url("icons/asc.gif") 0 7px no-repeat transparent;
    }
    .headerSortDown span.sortArrow {
      background: url("icons/desc.gif") 0 7px no-repeat transparent;
    }

// Zebra-striping
.table-striped {
	> tbody > tr:nth-child(odd) {
		> td,
		> th {
			background-color: @table-bg-accent;
		}
	}
}

// Hover effect
.table-hover {
	> tbody > tr:hover {
		> td,
		> th {
			background-color: @table-bg-hover;
		}
	}
}