/*

	Main

	*/

@import 'font';
@import 'remove';



.device-list-container {
	background-color: #f5f5f5;
	color: #212121;
	font-size: 14px;
	letter-spacing: 0.1px;
	list-style: 20px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.shadow {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),
						0 1px 2px 0 rgba(0,0,0,.24);
	-moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,.12),
						0 1px 2px 0 rgba(0,0,0,.24);
	box-shadow:         0 1px 3px 0 rgba(0,0,0,.12),
						0 1px 2px 0 rgba(0,0,0,.24);
}


/* -- Material Design Table style -------------- */

// Variables
// ---------------------
@table-header-font-weight:      400;
@table-header-font-color:       #757575;
@table-cell-padding:            16px;
@table-bg:                      #fff;
@table-bg-accent:               #f5f5f5;
@table-bg-hover:                rgba(0,0,0,.12);
@table-bg-active:               @table-bg-hover;
@table-border-color:            #e0e0e0;



// Mixins
.transition(@transition) {
	-webkit-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

// Tables
.device-list-table {
	width: 100%;
	max-width: 85%;
	margin: 0 auto;
	border-collapse: collapse;
	background-color: @table-bg;
	color: #4A4A4A;
	> thead,
	> tbody,
	> tfoot {
		> tr {
			.transition(all .3s ease);
			> th,
			> td {
				text-align: left;
				padding: @table-cell-padding;
				vertical-align: top;
				border-top: 0;
				.transition(all .3s ease);
			}
		}
	}
	> thead > tr > th {
		font-weight: @table-header-font-weight;
		color: @table-header-font-color;
		vertical-align: bottom;
		border-bottom: 1px solid rgba(0,0,0,.12);
	}
	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> th,
			> td {
				border-top: 0;
			}
		}
	}
	> tbody + tbody {
		border-top: 1px solid rgba(0,0,0,.12);
	}
}


// Zebra-striping
.table-striped {
	> tbody > tr:nth-child(odd) {
		> td,
		> th {
			background-color: @table-bg-accent;
		}
	}
}

// Hover effect
.table-hover {
	> tbody > tr:hover {
		> td,
		> th {
			background-color: @table-bg-hover;
		}
	}
}